<template>
	<v-container fluid>
		<vue-headful
      :title="'Get Started | ' + this.$ziConfig.APP_NAME"
      description="Description from vue-headful"
    />
		<v-layout row wrap>
			<v-flex xs12>
				<v-card>
					<v-card-title
					  class="grey lighten-4 py-4 title"
					>
					  Get Started
					</v-card-title>
					<v-stepper v-model="e1" alt-labels>
		        <v-stepper-header>
		          <v-stepper-step step="1" :complete="e1 > 1">Basic</v-stepper-step>
		          <v-divider></v-divider>
              <v-stepper-step step="2" :complete="e1 > 2">About</v-stepper-step>
              <v-divider></v-divider>
		          <v-stepper-step step="3" :complete="e1 > 3">Logo/Banner</v-stepper-step>
		          <v-divider></v-divider>
		          <v-stepper-step step="4" :complete="e1 > 4">Service(s)</v-stepper-step>
		          <v-divider></v-divider>
		          <v-stepper-step step="5" :complete="e1 > 5">Office(s)</v-stepper-step>
		          <v-divider></v-divider>
		          <v-stepper-step step="5" :complete="e1 > 6">Team(s)</v-stepper-step>
		        </v-stepper-header>
		        <v-stepper-items>
		        	<v-stepper-content step="1">
		        		<div :class="{'is-waiting': loader}">
									<v-card class="mb-0 elevation-0">
									  <v-form>
									    <v-container grid-list-sm class="pa-4">
									      <v-layout row wrap>
				                  <v-flex xs12>
				                    <v-select
				                      placeholder="e.g Agricultural Insurance‎"
				                      label="Company Category"
				                      name="category_id"
				                      autocomplete
				                      :loading="loadingCategory"
				                      cache-items
				                      hint="Search company category"
				                      required
				                      item-text="title"
				                      item-value="id"
				                      :items="categories"
				                      :search-input.sync="searchCategory"
				                      v-model="category_id"
				                      :error-messages="errors.collect('category_id')"
				      								v-validate="'required'"
										       		data-vv-name="category_id"
				                    ></v-select>
				                  </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
			                        v-if="category_id"
			                        placeholder="e.g Zongo Insurance"
			                        label="Company Name"
			                        name="company_name"
			                        type="text"
			                        hint="Enter company name"
			                        required
			                        v-model="company_name"
		                          :error-messages="errors.collect('company_name')"
		      										v-validate="'required'"
							              	data-vv-name="company_name"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
			                        v-if="company_name"
			                        placeholder="e.g GBD76246248/2016"
			                        label="Company Tax ID Number"
			                        name="tax_id_number"
			                        type="text"
			                        hint="Enter company tax id number"
			                        required
			                        v-model="tax_id_number"
		                          :error-messages="errors.collect('tax_id_number')"
		      										v-validate="'required'"
							              	data-vv-name="tax_id_number"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
			                        v-if="tax_id_number"
			                        placeholder="e.g GBD76246248/2016"
			                        label="Company Registration Number"
			                        name="registration_number"
			                        type="text"
			                        hint="Enter company registration number"
			                        required
			                        v-model="registration_number"
		                          :error-messages="errors.collect('registration_number')"
		      										v-validate="'required'"
							              	data-vv-name="registration_number"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
			                        v-if="registration_number"
			                        placeholder="e.g Organic"
			                        label="Company structure"
			                        name="structure_type"
			                        type="text"
			                        hint="Enter company company structure"
			                        required
			                        v-model="structure_type"
		                          :error-messages="errors.collect('structure_type')"
		      										v-validate="'required'"
							              	data-vv-name="structure_type"
			                      ></v-text-field>
			                    </v-flex>
						              <v-flex xs12>
													 	<v-menu
													  	v-if="structure_type"
															ref="dateMenu"
															lazy
															:close-on-content-click="false"
															v-model="dateMenu"
															transition="scale-transition"
															offset-y
															full-width
															:nudge-right="40"
															min-width="290px"
														>
															<v-text-field
															  slot="activator"
															  label="Company date of incorporation"
															  v-model="date_of_incorporation"
															  prepend-icon="event"
															  readonly
									              :error-messages="errors.collect('date_of_incorporation')"
									              v-validate="'required'"
									              data-vv-name="date_of_incorporation"
															></v-text-field>
															<v-date-picker
															  ref="start_datePicker"
															  v-model="date_of_incorporation"
															  @change="save_date"
															  :min="date_min"
															></v-date-picker>
														</v-menu>
						              </v-flex>
									      </v-layout>
									    </v-container>
									  </v-form>
										<v-card-actions>
											<v-spacer></v-spacer>
											<v-btn color="primary" @click.stop="getStarted">
												Get Started
											</v-btn>
										</v-card-actions>
									</v-card>
								</div>
							</v-stepper-content>
		        	<v-stepper-content step="2">
		        		<div :class="{'is-waiting': loader}">
									<v-card class="mb-0 elevation-0">
									  <v-form>
									    <v-container grid-list-sm class="pa-4">
									      <v-layout row wrap>
				                  <v-flex xs12>
				                    <v-select
				                      placeholder="e.g Cameroon"
				                      label="Company Country"
				                      name="country_id"
				                      autocomplete
				                      :loading="loadingCountry"
				                      cache-items
				                      hint="Search company country"
				                      required
				                      item-text="name"
				                      item-value="id"
				                      :items="countries"
				                      :search-input.sync="searchCountry"
				                      v-model="country_id"
				                      :error-messages="errors.collect('country_id')"
				      								v-validate="'required'"
										       		data-vv-name="country_id"
				                    ></v-select>
				                  </v-flex>
				                  <v-flex xs12>
				                    <v-select
				                    	v-if="country_id"
				                      placeholder="e.g Sudwest"
				                      label="Company State"
				                      name="state_id"
				                      autocomplete
				                      :loading="loadingState"
				                      cache-items
				                      hint="Search company state"
				                      required
				                      item-text="name"
				                      item-value="id"
				                      :items="states"
				                      :search-input.sync="searchState"
				                      v-model="state_id"
				                      :error-messages="errors.collect('state_id')"
				      								v-validate="'required'"
										       		data-vv-name="state_id"
				                    ></v-select>
				                  </v-flex>
				                  <v-flex xs12>
				                    <v-select
				                    	v-if="state_id"
				                      placeholder="e.g Buea"
				                      label="Company City"
				                      name="city_id"
				                      autocomplete
				                      :loading="loadingCity"
				                      cache-items
				                      hint="Search company city"
				                      required
				                      item-text="name"
				                      item-value="id"
				                      :items="cities"
				                      :search-input.sync="searchCity"
				                      v-model="city_id"
				                      :error-messages="errors.collect('city_id')"
				      								v-validate="'required'"
										       		data-vv-name="city_id"
				                    ></v-select>
				                  </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
			                        v-if="city_id"
			                        placeholder="e.g Zongo Insurance"
			                        label="Company Street Address"
			                        name="street"
			                        type="text"
			                        hint="Enter company street address"
			                        required
			                        v-model="street"
		                          :error-messages="errors.collect('street')"
		      										v-validate="'required'"
							              	data-vv-name="street"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
			                        v-if="street"
			                        placeholder="e.g zongo-insure@gmail.com"
			                        label="Company E-mail Address"
			                        name="email"
			                        type="email"
			                        hint="Enter company e-mail address"
			                        required
			                        v-model="email"
		                          :error-messages="errors.collect('email')"
		      										v-validate="'required'"
							              	data-vv-name="email"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
			                        v-if="email"
			                        placeholder="e.g (662)-426-426-742"
			                        label="Company Phone Number"
			                        name="phone_number"
			                        type="text"
			                        hint="Enter company phone number"
			                        required
			                        v-model="phone_number"
		                          :error-messages="errors.collect('phone_number')"
		      										v-validate="'required'"
							              	data-vv-name="phone_number"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <froala
		                          v-if="phone_number"
															:tag="'textarea'" 
															:config="{placeholderText: 'Enter company about', charCounterCount: false, height: 300}" 
															v-model="about"
									            :error-messages="errors.collect('about')"
									      			v-validate="'required|min:20'"
														  data-vv-name="about">
														</froala>
			                    </v-flex>
						              <v-flex xs12>
			                      <froala
		                          v-if="about"
															:tag="'textarea'" 
															:config="{placeholderText: 'Enter company mission statement', charCounterCount: false, height: 300}" 
															v-model="mission_statement"
									            :error-messages="errors.collect('mission_statement')"
									      			v-validate="'required|min:20'"
														  data-vv-name="mission_statement">
														</froala>
						              </v-flex>
						              <v-flex xs12>
			                      <froala
		                          v-if="mission_statement"
															:tag="'textarea'" 
															:config="{placeholderText: 'Enter company mission', charCounterCount: false, height: 300}" 
															v-model="mission"
									            :error-messages="errors.collect('mission')"
									      			v-validate="'required|min:20'"
														  data-vv-name="mission">
														</froala>
						              </v-flex>
						              <v-flex xs12>
			                      <froala
		                          v-if="mission"
															:tag="'textarea'" 
															:config="{placeholderText: 'Enter company vision', charCounterCount: false, height: 300}" 
															v-model="vision"
									            :error-messages="errors.collect('vision')"
									      			v-validate="'required|min:20'"
														  data-vv-name="vision">
														</froala>
						              </v-flex>
									      </v-layout>
									    </v-container>
									  </v-form>
										<v-card-actions>
											<v-spacer></v-spacer>
											<v-btn color="primary" @click.stop="addCompanyAbout">
												Save About
											</v-btn>
										</v-card-actions>
									</v-card>
								</div>
							</v-stepper-content>
		        	<v-stepper-content step="3">
		        		<div :class="{'is-waiting': loader}">
									<v-card class="mb-0 elevation-0">
									  <v-form>
									    <v-container grid-list-sm class="pa-4">
									      <v-layout row wrap>
				                  <v-flex xs12>
				                  	<input type="file" style="display:none" ref="logoInput" @change="onLogoSelected">
											      <v-btn color="secondary" large @click="$refs.logoInput.click()"> <v-icon>fa-camera</v-icon> &nbsp; {{ logoMessage }}</v-btn>


				                  	<input type="file" style="display:none" ref="bannerInput" @change="onBannerSelected">
											      <v-btn color="secondary" large @click="$refs.bannerInput.click()"> <v-icon>fa-camera</v-icon> &nbsp; {{ bannerMessage }}</v-btn>
				                  </v-flex>
									      </v-layout>
									    </v-container>
									  </v-form>
										<v-card-actions>
											<v-spacer></v-spacer>
											<v-btn color="primary" v-if="selectedLogo && selectedBanner" @click.stop="updateCompanyMedia">
												Save Media
											</v-btn>
										</v-card-actions>
									</v-card>
								</div>
							</v-stepper-content>
		        	<v-stepper-content step="4">
		        		<div :class="{'is-waiting': loader}">
									<v-card class="mb-0 elevation-0">
									  <v-form>
									    <v-container grid-list-sm class="pa-4">
									      <v-layout row wrap>
			                    <v-flex xs12>
			                      <v-text-field
			                        placeholder="e.g something"
			                        label="Serivice Title"
			                        name="title"
			                        type="text"
			                        hint="Enter service title"
			                        required
			                        v-model="title"
		                          :error-messages="errors.collect('title')"
		      										v-validate="'required'"
							              	data-vv-name="title"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <froala
		                          v-if="title"
															:tag="'textarea'" 
															:config="{placeholderText: 'Enter service content', charCounterCount: false, height: 300}" 
															v-model="content"
									            :error-messages="errors.collect('content')"
									      			v-validate="'required|min:20'"
														  data-vv-name="content">
														</froala>
			                    </v-flex>
						              <v-flex xs12>
			                      <froala
		                          v-if="content"
															:tag="'textarea'" 
															:config="{placeholderText: 'Enter service policy', charCounterCount: false, height: 300}" 
															v-model="policy"
									            :error-messages="errors.collect('policy')"
									      			v-validate="'required|min:20'"
														  data-vv-name="policy">
														</froala>
						              </v-flex>
				                  <v-flex xs12 v-if="policy">
				                  	<input type="file" style="display:none" ref="serviceInput" @change="onServiceSelected">
											      <v-btn color="secondary" large @click="$refs.serviceInput.click()"> <v-icon>fa-camera</v-icon> &nbsp; {{ serviceMessage }}</v-btn>
				                  </v-flex>
									      </v-layout>
									    </v-container>
									  </v-form>
										<v-card-actions>
											<v-btn color="primary" v-if="selectedService" @click.stop="addService">Save</v-btn>
											<v-spacer></v-spacer>
											<v-btn color="primary" :disabled="addedAService" @click.stop="e1 = 5">
												Next
											</v-btn>
										</v-card-actions>
									</v-card>
								</div>
							</v-stepper-content>
		        	<v-stepper-content step="5">
		        		<div :class="{'is-waiting': loader}">
									<v-card class="mb-0 elevation-0">
									  <v-form>
									    <v-container grid-list-sm class="pa-4">
									      <v-layout row wrap>
				                  <v-flex xs12>
				                    <v-select
				                      placeholder="e.g Cameroon"
				                      label="Office Country"
				                      name="office_country_id"
				                      autocomplete
				                      :loading="loadingCountry"
				                      cache-items
				                      hint="Search office country"
				                      required
				                      item-text="name"
				                      item-value="id"
				                      :items="countries"
				                      :search-input.sync="searchCountry"
				                      v-model="office_country_id"
				                      :error-messages="errors.collect('office_country_id')"
				      								v-validate="'required'"
										       		data-vv-name="office_country_id"
				                    ></v-select>
				                  </v-flex>
				                  <v-flex xs12>
				                    <v-select
				                    	v-if="office_country_id"
				                      placeholder="e.g Sudwest"
				                      label="Office State"
				                      name="office_state_id"
				                      autocomplete
				                      :loading="loadingState"
				                      cache-items
				                      hint="Search office state"
				                      required
				                      item-text="name"
				                      item-value="id"
				                      :items="states"
				                      :search-input.sync="searchState"
				                      v-model="office_state_id"
				                      :error-messages="errors.collect('office_state_id')"
				      								v-validate="'required'"
										       		data-vv-name="office_state_id"
				                    ></v-select>
				                  </v-flex>
				                  <v-flex xs12>
				                    <v-select
				                    	v-if="office_state_id"
				                      placeholder="e.g Buea"
				                      label="Office City"
				                      name="office_city_id"
				                      autocomplete
				                      :loading="loadingCity"
				                      cache-items
				                      hint="Search office city"
				                      required
				                      item-text="name"
				                      item-value="id"
				                      :items="cities"
				                      :search-input.sync="searchCity"
				                      v-model="office_city_id"
				                      :error-messages="errors.collect('office_city_id')"
				      								v-validate="'required'"
										       		data-vv-name="office_city_id"
				                    ></v-select>
				                  </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
			                      	v-if="office_city_id"
			                        placeholder="e.g some street"
			                        label="Office Street"
			                        name="office_street"
			                        type="text"
			                        hint="Enter office street"
			                        required
			                        v-model="office_street"
		                          :error-messages="errors.collect('office_street')"
		      										v-validate="'required'"
							              	data-vv-name="office_street"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
			                      	v-if="office_street"
			                        placeholder="e.g some email"
			                        label="Office Email"
			                        name="office_email"
			                        type="email"
			                        hint="Enter office email"
			                        required
			                        v-model="office_email"
		                          :error-messages="errors.collect('office_email')"
		      										v-validate="'required'"
							              	data-vv-name="office_email"
			                      ></v-text-field>
			                    </v-flex>
						              <v-flex xs12>
			                      <v-text-field
			                      	v-if="office_email"
			                        placeholder="e.g some phone number"
			                        label="Office Phone Number"
			                        name="office_phone_number"
			                        type="email"
			                        hint="Enter office phone number"
			                        required
			                        v-model="office_phone_number"
		                          :error-messages="errors.collect('office_phone_number')"
		      										v-validate="'required'"
							              	data-vv-name="office_phone_number"
			                      ></v-text-field>
						              </v-flex>
						              <v-flex xs12>
			                      <v-text-field
			                      	v-if="office_phone_number"
			                        placeholder="e.g some longitude"
			                        label="Office Longitude"
			                        name="office_longitude"
			                        type="email"
			                        hint="Enter office longitude"
			                        required
			                        v-model="office_longitude"
		                          :error-messages="errors.collect('office_longitude')"
		      										v-validate="'required'"
							              	data-vv-name="office_longitude"
			                      ></v-text-field>
						              </v-flex>
						              <v-flex xs12>
			                      <v-text-field
			                      	v-if="office_longitude"
			                        placeholder="e.g some latitude"
			                        label="Office Latitude"
			                        name="office_latitude"
			                        type="email"
			                        hint="Enter office latitude"
			                        required
			                        v-model="office_latitude"
		                          :error-messages="errors.collect('office_latitude')"
		      										v-validate="'required'"
							              	data-vv-name="office_latitude"
			                      ></v-text-field>
						              </v-flex>
									      </v-layout>
									    </v-container>
									  </v-form>
										<v-card-actions>
											<v-btn color="primary" v-if="office_latitude" @click.stop="addOffice">Save</v-btn>
											<v-spacer></v-spacer>
											<v-btn color="primary" :disabled="addedAOffice" @click.stop="e1 = 6">
												Next
											</v-btn>
										</v-card-actions>
									</v-card>
								</div>
							</v-stepper-content>
		        	<v-stepper-content step="6">
		        		<div :class="{'is-waiting': loader}">
									<v-card class="mb-0 elevation-0">
									  <v-form>
									    <v-container grid-list-sm class="pa-4">
									      <v-layout row wrap>
			                    <v-flex xs12>
			                      <v-text-field
			                        placeholder="e.g something"
			                        label="Team Name"
			                        name="team_name"
			                        type="text"
			                        hint="Enter team name"
			                        required
			                        v-model="team_name"
		                          :error-messages="errors.collect('team_name')"
		      										v-validate="'required'"
							              	data-vv-name="team_name"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <v-text-field
		                          v-if="team_name"
			                        placeholder="e.g something"
			                        label="Team Position"
			                        name="team_position"
			                        type="text"
			                        hint="Enter team name"
			                        required
			                        v-model="team_position"
		                          :error-messages="errors.collect('team_position')"
		      										v-validate="'required'"
							              	data-vv-name="team_position"
			                      ></v-text-field>
			                    </v-flex>
			                    <v-flex xs12>
			                      <froala
		                          v-if="team_position"
															:tag="'textarea'" 
															:config="{placeholderText: 'Enter team bio', charCounterCount: false, height: 300}" 
															v-model="team_bio"
									            :error-messages="errors.collect('team_bio')"
									      			v-validate="'required|min:20'"
														  data-vv-name="team_bio">
														</froala>
			                    </v-flex>
				                  <v-flex xs12 v-if="team_bio">
				                  	<input type="file" style="display:none" ref="teamInput" @change="onTeamSelected">
											      <v-btn color="secondary" large @click="$refs.teamInput.click()"> <v-icon>fa-camera</v-icon> &nbsp; {{ teamMessage }}</v-btn>
				                  </v-flex>
									      </v-layout>
									    </v-container>
									  </v-form>
										<v-card-actions>
											<v-btn color="primary" v-if="selectedTeam" @click.stop="addTeam">Save</v-btn>
											<v-spacer></v-spacer>
											<v-btn color="primary" to="/home" :disabled="addedATeam">
												Done
											</v-btn>
										</v-card-actions>
									</v-card>
								</div>
							</v-stepper-content>
						</v-stepper-items>
					</v-stepper>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script scoped>
	import {mapState} from 'vuex'
	export default {
		name: 'GetStarted',
		props: [''],
		data () {
			return {
				e1: 0,
        countries: [],
        states: [],
        cities: [],
        categories: [],
        loadingCountry: false,
        loadingState: false,
        loadingCity: false,
        loadingCategory: false,
        searchCountry: null,
        searchState: null,
        searchCategory: null,
        searchCity: null,
        date_min: '',
        dateMenu: false,
				category_id: '',
				company_name: '',
				tax_id_number: '',
				registration_number: '',
				structure_type: '',
				date_of_incorporation: '',
				country_id: '',
				state_id: '',
				city_id: '',
				street: '',
				email: '',
				phone_number: '',
				about: '',
				mission_statement: '',
				mission: '',
				vision: '',
				logoMessage: 'select logo',
				bannerMessage: 'select banner',
				addedAService: true,
				selectedLogo: null,
				selectedBanner: null,
				serviceMessage: 'select service picture',
				selectedService: null,
				title: '',
				content: '',
				policy: '',
				addedAOffice: true,
				office_country_id: '',
				office_state_id: '',
				office_city_id: '',
				office_street: '',
				office_email: '',
				office_phone_number: '',
				office_longitude: '',
				office_latitude: '',
				addedATeam: true,
				teamMessage: 'select team picture',
				selectedTeam: null,
				team_name: '',
				team_position: '',
				team_bio: '',
        loader: false,
        dictionary: {
          attributes: {
          	category_id: 'Category',
          	company_name: 'Company name',
          	tax_id_number: 'Tax ID number',
          	registration_number: 'Registration number',
          	date_of_incorporation: 'Date of incorporation',
          	email: 'E-mail address',
          	phone_number: 'Phone number',
          	structure_type: 'Company structure',
          	about: 'Company about',
          	mission_statement: 'Company mission statement',
          	mission: 'Company mission',
          	vision: 'Company vision'
          },
          custom: {}
        }
			}
		},
    watch: {
      searchCountry (val) {
        val && this.queryCountries(val)
      },
      searchState (val) {
        val && this.queryStates(val)
      },
      searchCity (val) {
        val && this.queryCities(val)
      },
      searchCategory (val) {
        val && this.queryCategories(val)
      },
    	start_date (val) {
    		this.end_date_min = val
    	},
    },
		computed: {
      ...mapState({
        user: state => state.userStore.authUser
      }),
		},
		methods: {
      emitErrorNotify (payload) {
        this.$events.fire('errorSnackbar', payload);
      },
      emitSuccessNotify (payload) {
        this.$events.fire('successSnackbar', payload);
      },
      save_date (date) {
        this.$refs.dateMenu.save(date)
      },
      queryCountries (v) {
        this.loadingCountry = true
        this.$http.get('country/search?q=' + v)
          .then(response => {
            this.countries = response.body.data
            this.loadingCountry = false
          }, response => {
            this.countries = []
          })
      },
      queryStates (v) {
        this.loadingState = true
        this.$http.get('state/search?q=' + v + '&country_id=' + this.office_country_id)
          .then(response => {
            this.states = response.body.data
            this.loadingState = false
          }, response => {
            this.states = []
          })
      },
      queryCities (v) {
        this.loadingCity = true
        if (this.state_id === '') {
        	this.$http.get('city/search?q=' + v)
          .then(response => {
            this.cities = response.body.data
            this.loadingCity = false
          }, response => {
            this.cities = []
          })
        } else {
        	this.$http.get('city/search?q=' + v + '&state_id=' + this.state_id)
          .then(response => {
            this.cities = response.body.data
            this.loadingCity = false
          }, response => {
            this.cities = []
          })
        }
      },
      queryCategories (v) {
        this.loadingCategory = true
        this.$http.get('category/search?q=' + v)
          .then(response => {
            this.categories = response.body.data
            this.loadingCategory = false
          }, response => {
            this.categories = []
          })
      },
	    onLogoSelected (event) {
	    	this.selectedLogo = event.target.files[0]
      	this.logoMessage = this.selectedLogo.name
	    },
	    onBannerSelected (event) {
	    	this.selectedBanner = event.target.files[0]
      	this.bannerMessage = this.selectedBanner.name
	    },
	    onServiceSelected (event) {
	    	this.selectedService = event.target.files[0]
      	this.serviceMessage = this.selectedService.name
	    },
	    onTeamSelected (event) {
	    	this.selectedTeam = event.target.files[0]
      	this.teamMessage = this.selectedTeam.name
	    },
    	getStarted () {
    		this.$validator.validateAll({
	    		category_id: this.category_id,
	    		company_name: this.company_name,
	    		tax_id_number: this.tax_id_number,
	    		registration_number: this.registration_number,
	    		date_of_incorporation: this.date_of_incorporation,
	    		structure_type: this.structure_type
	    	}).then(result => {
		      if (result) {
		        this.loader = true
		    		let payload = {
		    			user_id: this.user.id,
    					category_id: this.category_id,
			    		company_name: this.company_name,
			    		tax_id_number: this.tax_id_number,
			    		registration_number: this.registration_number,
			    		date_of_incorporation: this.date_of_incorporation,
			    		structure_type: this.structure_type
		    		}
		        this.$store.dispatch('getStarted', payload)
	           .then(response => {
	            	this.loader = false
	              if (response.status === 200) {
	                // success message
	                this.emitSuccessNotify(response.body.success)
	                this.e1 = 2
	                this.category_id = ''
									this.company_name = ''
									this.tax_id_number = ''
	    						this.registration_number = ''
	    						this.date_of_incorporation = ''
	 								this.structure_type = ''
	              } else if (response.status === 409) {
	                // error message
	                this.emitErrorNotify(response.body)
	              } else if (response.status === 422) {
	                // this.errorCollector(response.body, this)
	                var errors = response.body.errors
	                var items = []
	                Object.keys(errors).forEach(function (key, self = this) {
	                  items.push(errors[key][0])
	                })
	               this.displayErrors(items, this)
	              } else {
	                let postMessage = {
	                	message: response.statusText
	                }
	                this.emitErrorNotify(postMessage)
	              }
	            }, response => {
	              // handle errors
	              this.loader = false
	              let postMessage = {
	               message: response.statusText
	              }
	              this.emitErrorNotify(postMessage)
	          })
		      }
	      })
    	},
    	addCompanyAbout () {
    		this.$validator.validateAll({
	    		country_id: this.country_id,
	    		state_id: this.state_id,
	    		city_id: this.city_id,
	    		street: this.street,
	    		email: this.email,
	    		phone_number: this.phone_number,
	    		about: this.about,
	    		mission_statement: this.mission_statement,
	    		mission: this.mission,
	    		vision: this.vision
	    	}).then(result => {
		      if (result) {
		        this.loader = true
		    		let payload = {
		    			company_id: this.user.company.data.id,
    					country_id: this.country_id,
			    		state_id: this.state_id,
			    		city_id: this.city_id,
			    		street: this.street,
			    		email: this.email,
			    		phone_number: this.phone_number,
			    		about_us: this.about,
			    		mission_statement: this.mission_statement,
			    		mission: this.mission,
			    		vision: this.vision
		    		}
		        this.$store.dispatch('addCompanyAbout', payload)
	           .then(response => {
	            	this.loader = false
	              if (response.status === 200) {
	                // success message
	                this.emitSuccessNotify(response.body.success)
	                this.e1 = 3
	                this.country_id = ''
	                this.state_id = ''
	                this.city_id = ''
	                this.street = ''
	                this.email = ''
	                this.phone_number = ''
	                this.about = ''
	                this.mission_statement = ''
	                this.mission = ''
	                this.vision = ''
	              } else if (response.status === 409) {
	                // error message
	                this.emitErrorNotify(response.body)
	              } else if (response.status === 422) {
	                // this.errorCollector(response.body, this)
	                var errors = response.body.errors
	                var items = []
	                Object.keys(errors).forEach(function (key, self = this) {
	                  items.push(errors[key][0])
	                })
	               this.displayErrors(items, this)
	              } else {
	                let postMessage = {
	                	message: response.statusText
	                }
	                this.emitErrorNotify(postMessage)
	              }
	            }, response => {
	              // handle errors
	              this.loader = false
	              let postMessage = {
	               message: response.statusText
	              }
	              this.emitErrorNotify(postMessage)
	          })
		      }
	      })
    	},
    	updateCompanyMedia () {
    		if (this.selecedLogo === '' && this.selectedBanner === '') {
    			let postMessage = {
    				message: 'Please select the a logo and a banner'
    			}
    			this.emitErrorNotify(postMessage)
    		} else {
    			const fd = new FormData()
			    fd.append('logo', this.selectedLogo)
			    fd.append('banner', this.selectedBanner)
			    fd.append('company_id', this.user.company.data.id)
			    this.loader = true
		      this.$store.dispatch('updateCompanyMedia', fd)
	        .then(response => {
	          this.loader = false
	          if (response.status === 200) {
	            // success message
	            this.emitSuccessNotify(response.body.success)
	            this.e1 = 4
        			this.logoMessage = 'select logo to upload'
        			this.bannerMessage = 'select banner to upload'
					    this.selectedLogo = null
					    this.selectedBanner = null
	          } else if (response.status === 409) {
	            // error message
	            this.emitErrorNotify(response.body)
	          } else if (response.status === 422) {
	            // this.errorCollector(response.body, this)
	            var errors = response.body.errors
	            var items = []
	            Object.keys(errors).forEach(function (key, self = this) {
	              items.push(errors[key][0])
	            })
	           this.displayErrors(items, this)
	          } else {
	            let data = {
	                	message: response.statusText
	            }
	            this.emitErrorNotify(data)
	          }
	        }, response => {
	          // handle errors
	          this.loader = true
	        })
    		}
    	},
    	addService () {
    		this.$validator.validateAll({
	    			title: this.title,
	    			content: this.content,
	    			policy: this.policy
	    		}).then(result => {
	    			const fd = new FormData()
			    	fd.append('picture', this.selectedService)
			    	fd.append('company_id', this.user.company.data.id)
			    	fd.append('title', this.title)
			    	fd.append('content', this.content)
			    	fd.append('policy', this.policy)
		        if (result) {
		        	this.loader = true
		        	this.$store.dispatch('addService', fd)
	             .then(response => {
	              this.loader = false
	              if (response.status === 200) {
	                // success message
	                this.emitSuccessNotify(response.body.success)
	                this.addedAService = false
					        this.title = ''
					        this.content = ''
					        this.policy = ''
        					this.serviceMessage = 'select service picture'
					        this.selectedService = null
	              } else if (response.status === 409) {
	                // error message
	                this.emitErrorNotify(response.body)
	              } else if (response.status === 422) {
	                // this.errorCollector(response.body, this)
	                var errors = response.body.errors
	                var items = []
	                Object.keys(errors).forEach(function (key, self = this) {
	                  items.push(errors[key][0])
	                })
	               this.displayErrors(items, this)
	              } else {
	                let data = {
	                	message: response.statusText
	                }
	                this.emitErrorNotify(data)
	              }
	            }, response => {
	              // handle errors
	              this.loader = true
	          })
		      }
	      })
    	},
    	addOffice () {
    		this.$validator.validateAll({
	    		office_country_id: this.office_country_id,
	    		office_state_id: this.office_state_id,
	    		office_city_id: this.office_city_id,
	    		office_street: this.office_street,
	    		office_email: this.office_email,
	    		office_phone_number: this.office_phone_number,
	    		office_longitude: this.office_longitude,
	    		office_latitude: this.office_latitude
	    	}).then(result => {
		      if (result) {
		        this.loader = true
		    		let payload = {
		    			company_id: this.user.company.data.id,
    					country_id: this.office_country_id,
			    		state_id: this.office_state_id,
			    		city_id: this.office_city_id,
			    		street: this.office_street,
			    		email: this.office_email,
			    		phone_number: this.office_phone_number,
			    		longitude: this.office_longitude,
			    		latitude: this.office_latitude
		    		}
		        this.$store.dispatch('addOffice', payload)
	           .then(response => {
	            	this.loader = false
	              if (response.status === 200) {
	                // success message
	                this.emitSuccessNotify(response.body.success)
	                this.addedAOffice = false
	                this.office_country_id = ''
									this.office_state_id = ''
									this.office_city_id = ''
	    						this.office_street = ''
	    						this.office_email = ''
	 								this.office_phone_number = ''
	 								this.office_longitude = ''
	 								this.office_latitude = ''
	              } else if (response.status === 409) {
	                // error message
	                this.emitErrorNotify(response.body)
	              } else if (response.status === 422) {
	                // this.errorCollector(response.body, this)
	                var errors = response.body.errors
	                var items = []
	                Object.keys(errors).forEach(function (key, self = this) {
	                  items.push(errors[key][0])
	                })
	               this.displayErrors(items, this)
	              } else {
	                let postMessage = {
	                	message: response.statusText
	                }
	                this.emitErrorNotify(postMessage)
	              }
	            }, response => {
	              // handle errors
	              this.loader = false
	              let postMessage = {
	               message: response.statusText
	              }
	              this.emitErrorNotify(postMessage)
	          })
		      }
	      })
    	},
    	addTeam () {
    		this.$validator.validateAll({
	    			team_name: this.team_name,
	    			team_position: this.team_position,
	    			team_bio: this.team_bio
	    		}).then(result => {
	    			const fd = new FormData()
			    	fd.append('picture', this.selectedTeam)
			    	fd.append('company_id', this.user.company.data.id)
			    	fd.append('name', this.team_name)
			    	fd.append('position', this.team_position)
			    	fd.append('bio', this.team_bio)
		        if (result) {
		        	this.loader = true
		        	this.$store.dispatch('addTeam', fd)
	             .then(response => {
	              this.loader = false
	              if (response.status === 200) {
	                // success message
	                this.emitSuccessNotify(response.body.success)
	                this.addedATeam = false
					        this.title = ''
					        this.content = ''
					        this.policy = ''
        					this.serviceMessage = 'select team picture'
					        this.selectedService = null
	              } else if (response.status === 409) {
	                // error message
	                this.emitErrorNotify(response.body)
	              } else if (response.status === 422) {
	                // this.errorCollector(response.body, this)
	                var errors = response.body.errors
	                var items = []
	                Object.keys(errors).forEach(function (key, self = this) {
	                  items.push(errors[key][0])
	                })
	               this.displayErrors(items, this)
	              } else {
	                let data = {
	                	message: response.statusText
	                }
	                this.emitErrorNotify(data)
	              }
	            }, response => {
	              // handle errors
	              this.loader = true
	          })
		      }
	      })
    	},
      errorCollector (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].msg.replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      },
      displayErrors (items, self) {
        for (var i = 0, len = items.length; i < len; i++) {
          (function (i) {
            setTimeout(function () {
              var x = (i === 0) ? 0.5 : i / 2
              var time = 10000 * x
              var speed = 1000 * x
              self.$notify({ group: 'app-template', text: items[i].replace(/_/g, ' '), type: 'error', duration: time, speed: speed })
            }, 1500 * i)
          })(i)
        }
      }
		},
    mounted () {
      this.$validator.localize('en', this.dictionary)
    }
	}
</script>

<style scoped>
	
</style>