<template>
	<v-container fluid>
    <vue-headful
      :title="'Account Verification | ' + this.$ziConfig.APP_NAME"
    />
     <v-layout row wrap>
       <v-flex xs12 md4 offset-md4>
       	<div :class="{'is-waiting': loader}">
	        <v-card>
	          <v-toolbar class="indigo" dark>
              <v-spacer></v-spacer>
	            <v-toolbar-title>Account Verification</v-toolbar-title>
	          </v-toolbar>
	         <v-card-text>
	            <h6 class="title mb-0">Verification Code <br /><small class="title-caption">*indicates required field</small></h6>          
	            <v-form>
	              <v-text-field
	                label="Enter verification code"
	                hint="enter verification code"
	                v-model="v_code"
	                id="v_code"
	                type="text"
	                name="v_code"
	                required
	                v-validate="'required'"
	                data-vv-name="v_code"
	                :error-messages="errors.collect('v_code')"
	              ></v-text-field>
	            </v-form>
	          </v-card-text>
	          <v-card-actions>
	          	
              <v-menu offset-y>
                <v-btn color="black" dark slot="activator">Other options</v-btn>
                <v-list>
                  <v-list-tile to="/login">
                    <v-list-tile-title>Manage Your Account</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile to="/register">
                    <v-list-tile-title>Create An Account</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
	          	<v-spacer></v-spacer>
	            <v-btn color="secondary" @click.stop="verifyAccount">Verify Account</v-btn>
	          </v-card-actions>
	        </v-card>
      	</div>
       </v-flex>
     </v-layout>  
   </v-container>
</template>

<script scoped>
 export default {
   name: 'account-activation',
    $_veeValidate: {
      validator: 'new'
    },
   data () {
     return {
       v_code: '',
       loader: false,
        dictionary: {
          attributes: {
            v_code: 'Verification code',
          },
          custom: {}
        }
     }
   },
   created () {
    this.assignVCode()
   },
   watch: {},
   methods: {
    assignVCode () {
      if (this.$route.query.hasOwnProperty('code')) {
        this.v_code = this.$route.query.code
        this.verifyAccount()
      }
    },
    emitErrorNotify (payload) {
      this.$events.fire('errorSnackbar', payload);
    },
    emitSuccessNotify (payload) {
      this.$events.fire('successSnackbar', payload);
    },
    verifyAccount () {
      this.$validator.validateAll({
          v_code: this.v_code
        }).then(result => {
          if (result) {
           	this.loader = true
            this.$store.dispatch('verifyAccount', {code: this.v_code})
              .then(response => {
                this.loader = false
                if (response.status === 200) {
                  this.v_code = ''
                  this.emitSuccessNotify(response.body.success)
                  this.$router.push('/login')
                } else if (response.status === 409) {
                  this.emitErrorNotify(response.body)
                } else if (response.status === 404) {
                  this.emitErrorNotify(response.body)
                } else {
                  let postMessage = {
                   message: response.statusText
                  }
                  this.emitErrorNotify(postMessage)
                }
              }, response => {
                this.loader = false
                let postMessage = {
                    message: response.statusText
                }
                this.emitErrorNotify(postMessage)
              })
           }
        })
     }
   },
    mounted () {
      this.$validator.localize('en', this.dictionary)
    }
}
</script>

<style lang="scss" scoped>

</style>